<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQ-_eSOUsmY-PDZSJrUtg_QXlxXw19Sgk</string>
	<key>GCM_SENDER_ID</key>
	<string>473544749748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fintechproject.ecofriendlyBankingSystem</string>
	<key>PROJECT_ID</key>
	<string>ecofriendly-banking</string>
	<key>STORAGE_BUCKET</key>
	<string>ecofriendly-banking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473544749748:ios:485ad8efd0ff03e4bfdde1</string>
</dict>
</plist>